body {
	background: #9db2c3 url("img/background.jpg") no-repeat;
	background-size: cover;
	margin: 0;
	font-family: Robot, sans-serif;
}

p {
	margin: 0;
}

.container {
	width: 300px;
	margin: auto;
	margin-top: 70px;
	padding: 50px;
	padding-top: 60px;
	border-radius: 4px;
	background: url("img/qr.svg") no-repeat 80% 82%;
	background-color: white;
	background-size: 35%;
}

.header {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.city_logo {
	width: 50%;
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: -2px;
	color: #3b8acf;
	position: relative;
}

.right {
	text-align: right;
}

.city_logo:first-child::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 6px;
	background-color: #d3e6f4;
	top: 30px;
	left: 130px;
}
.city {
	width: 50%;
	color: #abaeb3;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

.destination_info,
.destination_data {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
}

.info {
	color: #abaeb3;
	font-size: 12px;
	text-transform: uppercase;
}

.data {
	margin-bottom: 20px;
}

.data:last-child {
	margin-bottom: 0;
}