body {
	background-color: #efc164;
	font-family: Roboto, sans-serif;
}

.container {
	width: 900px;
	height: 500px;
	background-color: white;
	margin: auto;
	border-radius: 0 4px 4px 0;
	display: flex;
	margin-top: 50px;
	box-shadow: 0px 40px 23px -22px rgba(206, 165, 86, 1);
}

.wallet {
	background-color: #ededec;
	width: 250px;
	padding: 40px;
	overflow: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	line-height: 0;
	align-items: center;
	margin-bottom: 30px;
}

.header h1 {
	font-size: 20px;
	font-weight: 400;
	text-transform: capitalize;
}

.card_holders {
	display: flex;
	flex-direction: column;
}

.card {
	width: 200px;
	height: 100px;
	background-color: white;
	border: 1px solid #e1e1e0;
	margin-bottom: 30px;
	border-radius: 4px;
	padding: 15px;
	font-size: 16px;
	color: #5f5e5e;
	line-height: 14px;
}

.card p:nth-child(3){
	font-size: 14px;
	line-height: 0;
}

.card img {
	width: 60px;
}

.card:hover,
.card:nth-child(2) {
	box-shadow: 0 0 0 2px #8793C6;
	cursor: pointer;
	transition: 0.2s;
}

.balance {
	padding: 40px;
	padding-top: 25px;
	overflow: auto;
	width: 500px;
	margin-top: 0;
}

.header p {
	font-size: 24px;
	font-weight: 500;
}

.header span {
	vertical-align: super;
	font-size: 20px;
}

.balance .header {
	border-bottom: 1px solid #d5d5d4;
	padding-bottom: 30px;
}

.content {
	display: flex;
	flex-direction: column;
}

.content_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	position: relative;
}

.content_item::before {
	content: "—";
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border: 1px solid #d5d5d4;
	border-radius: 50%;
	top: 30px;
	left: 0;
}

.content_item:nth-child(2)::before {
	content: "+";
}

.content_item h3 {
	text-transform: capitalize;
	line-height: 14px;
}

.content_item .operation p {
	line-height: 0;
	color: #adadac;
	font-size: 14px;
}

.content_item .operation_price {
	color: #7885b4;
	font-size: 16px;
	font-weight: 700;
}

.content_item .operation_price span {
	vertical-align: super;
	font-size: 12px;
}

.add p {
	color: #a2d484;
}