.header a {
	text-decoration: none;
	display: block;
	color: #848483;
	font-size: 12px;
}

.header,
.nav {
	display: flex;
	align-items: center;
}

.header {
	justify-content: space-between;
	margin-bottom: 100px;
}

.nav a {
	margin-right: 15px;
	vertical-align: center;
}

.nav a:hover {
	text-decoration: underline;
	color: black;
	transition: 0.2s;
}

.search_field input {
	border: none;
	border-bottom: 1px solid #848483;
	background-color: transparent;
}