.personnel-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.btn {
  width: 100%;
  .active, .inactive {
    border: 1px solid $color;
    border-radius: 100px;
    margin: 10px;
    height: 30px;
    padding-top: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .active {
    background-color: $color;

    &:hover {
      background-color: darken($color, 10%);
    }

    a {
      color: white;
    }
  }

  .inactive {
    a {
      color: $color;
    }

    &:hover {
      background-color: lighten($color, 32%);
    }
  }
}

.followers {
  display: flex;
  height: 60px;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 100%;
}