.personnel-card,
.content,
.aside {
  padding: $wrapper-offset;
}

.personnel-card,
.content {
  background-color: #fff;
  margin-right: $wrapper-offset;
}

.personnel-card,
.aside {
  width: $width / 10 * 2;
}

.content {
  width: $width / 10 * 6;
}